<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751993903518-k9e9j9blishe735ndk3qskcsv79i7qmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751993903518-k9e9j9blishe735ndk3qskcsv79i7qmd</string>
	<key>API_KEY</key>
	<string>AIzaSyAqov17KltMyDKH0-nwb2SLXK7SSRVw4lA</string>
	<key>GCM_SENDER_ID</key>
	<string>751993903518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.area51.TrabajoFinal</string>
	<key>PROJECT_ID</key>
	<string>deportes-438b3</string>
	<key>STORAGE_BUCKET</key>
	<string>deportes-438b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751993903518:ios:c7921a1c14bc7822</string>
	<key>DATABASE_URL</key>
	<string>https://deportes-438b3.firebaseio.com</string>
</dict>
</plist>